<div class="content">
  <div class="title">
    <h3>Pedidos</h3>
  </div>

  <div class="tablemaster">
    <button
      class="mat-elevation-z8"
      (click)="navegarParaPedidoCreate()"
      mat-button
    > Cadastrar
    </button>

    <div class="mat-elevation-z8 content-table">
      <table class="table" mat-table [dataSource]="pedido">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>id</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="lanche">
          <th mat-header-cell *matHeaderCellDef>Lanche</th>
          <td mat-cell *matCellDef="let row">{{ row.lanche.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="bebida">
          <th mat-header-cell *matHeaderCellDef>Bebida</th>
          <td mat-cell *matCellDef="let row">{{ row.bebida.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let row">{{ row.cliente.nome }}</td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <a class="edit" routerLink="update/{{ row.id }}">
              <i class="material-icons">edit</i>
            </a>
            <a
              class="delete"
              routerLink="delete/{{ row.id }}"
              (click)="delete()"
            >
              <i class="material-icons">delete</i>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>

