<mat-sidenav-container class="conteiner">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a routerLink="" mat-list-item>
        <i class="material-icons">home</i>
        home
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <a  routerLink="/lanches" mat-list-item>
        <i mat-button class="material-icons">fastfood</i>
        lanches
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <a  routerLink="/bebidas" mat-list-item>
        <i mat-button class="material-icons">local_drink</i>
        Bebidas
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <a  routerLink="/clientes" mat-list-item>
        <i mat-button class="material-icons">account_circle</i>
        Clientes
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <a  routerLink="/pedidos" mat-list-item>
        <i mat-button class="material-icons">shopping_cart </i>
        Pedidos
      </a>
    </mat-nav-list>



  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

